<%= form_with(model: date_request) do |form| %>
  <% if date_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(date_request.errors.count, "error") %> prohibited this date_request from being saved:</h2>

      <ul>
        <% date_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.number_field :sender_id %>
  </div>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.number_field :recipient_id %>
  </div>

  <div class="field">
    <%= form.label :acceptance %>
    <%= form.check_box :acceptance %>
  </div>

  <div class="field">
    <%= form.label :weekly_rose %>
    <%= form.check_box :weekly_rose %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
