<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @user_datum.owner_id %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @user_datum.full_name %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @user_datum.religion %>
</p>

<p>
  <strong>Political affiliation:</strong>
  <%= @user_datum.political_affiliation %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user_datum.height %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @user_datum.hometown %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_datum.age %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @user_datum.job_title %>
</p>

<p>
  <strong>School:</strong>
  <%= @user_datum.school %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_datum.gender %>
</p>

<p>
  <strong>Drinking:</strong>
  <%= @user_datum.drinking %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @user_datum.smoking %>
</p>

<p>
  <strong>Undergrad school:</strong>
  <%= @user_datum.undergrad_school %>
</p>

<p>
  <strong>Daily photo reveals:</strong>
  <%= @user_datum.daily_photo_reveals %>
</p>

<p>
  <strong>Interested in men:</strong>
  <%= @user_datum.interested_in_men %>
</p>

<p>
  <strong>Interested in women:</strong>
  <%= @user_datum.interested_in_women %>
</p>

<p>
  <strong>Interested in men and women:</strong>
  <%= @user_datum.interested_in_men_and_women %>
</p>

<%= link_to 'Edit', edit_user_datum_path(@user_datum) %> |
<%= link_to 'Back', user_data_path %>
