


<% if @list_of_users == nil %>
<center>
<h1> Update your profile to begin seeing profiles on the explore page! </h1>
</center>
<%else%>
<br>

<center>



<div class="card" role="alert">
  Photo Reveals left for today: <%= current_user.user_datum.daily_photo_reveals %>
</div>

</center>

<center>

<br>
<br>
<br>

<%@list_of_users.each do |user| %>
<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1581326446198-5d21d2368c02?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=725&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=user.full_name%></h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Grad School: <%=user.school%></li>
    <li class="list-group-item">Undergrad: <%=user.undergrad_school%></li>
    <li class="list-group-item">Job Title: <%=user.job_title%></li>
    <li class="list-group-item">Height: <%=user.height%></li>
    <li class="list-group-item">drinking?: <%=user.drinking%></li>
    <li class="list-group-item">smoking?: <%=user.smoking%></li>
    <li class="list-group-item">poltiics: <%=user.political_affiliation%></li>
    <li class="list-group-item">Religion: <%=user.religion%></li>

  </ul>
  <div class="card-body">
    <%= link_to "Reveal Photos", reveal_path(owner_id: user.owner_id) %>
    <a href="#" class="card-link">Politely Pass</a>
  </div>
</div>
<br>
<br>
<br>
<%end%>


</center>

<%end%>

