
<div class="container">
<center>
 <br>
 <br>
<h1 >Your Profile, <%=current_user.user_datum.full_name%></h1>
</center>


 <br>
 <br>



<div class="card-deck">
  <div class="card">
    <img src="<%=current_user.own_photos.first.image_one%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photo 1</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
    <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">
              <input type="file" id="avatar" name="avatar" class="form-control">

    </form>
    </div>
  </div>
  <div class="card">
    <img src="<%=current_user.own_photos.first.image_three%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photo 2</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
    <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">
              <input type="file" id="avatar" name="avatar" class="form-control">
    </form>
    </div>
  </div>
  <div class="card">
    <img src="<%=current_user.own_photos.first.image_three%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photo 3</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
    <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">
              <input type="file" id="avatar" name="avatar" class="form-control">

    </form>
    </div>
  </div>
</div>



 <br>
 <br>

<form action="/updateprofile" method: "get">
  <div class="form-group">
    <label for="name"> Name </label>
    <input type="text" class="form-control" id="name" value="<%=current_user.user_datum.full_name%>" name="query_name">
  </div>

<% m_array = [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36] %>
  <label for="political">Age</label>
  <select class="form-control" id="age" placeholder="yes" name="query_age">
    <% m_array.each do |number|%>
      <option <%= "selected" if number == current_user.user_datum.age%>>
        <%= number %>
      </option>
      <%end%>
    </select>
     
    </select>
  </div>
  <div class="form-group">
    <label for="home">Hometown</label>
    <input type="text" class="form-control" id="home" value="<%=current_user.user_datum.hometown%>" name="query_home">
  </div>
  <div class="form-group">
    <label for="job">Job Title</label>
    <input type="text" class="form-control" id="job" value="<%=current_user.user_datum.job_title%>" name="query_job">
  </div>
  <div class="form-group">
    <label for="school">Current School</label>
    <input type="text" class="form-control" id="school" value="<%=current_user.user_datum.school%>" name="query_school">
  </div>
  <div class="form-group">
    <label for="undergrad">Undergrad School</label>
    <input type="text" class="form-control" id="undergrad" value="<%=current_user.user_datum.undergrad_school%>" name="query_undergrad">
  </div>


  <% m_array = ["Liberal", "Moderate", "Conservative", "Other", "Prefer not to say"] %>
  <label for="political">Political Affiliation</label>
  <select class="form-control" id="political" placeholder="yes" name="query_politics">
    <% m_array.each do |political|%>
      <option <%= "selected" if political == current_user.user_datum.political_affiliation%>>
        <%= political %>
      </option>
      <%end%>
    </select>


    <% m_array = ["Catholic", "Christian", "Buddhist", "Jewish", "Muslim", "Hindu", "Atheist", "Spiritual", "Agnostic", "Prefer not to say"] %>
  <label for="religion">Religion</label>
  <select class="form-control" id="religion" placeholder="yes" name="query_religion">
    <% m_array.each do |religion|%>
      <option <%= "selected" if religion == current_user.user_datum.religion%>>
        <%= religion %>
      </option>
      <%end%>
    </select>


    <% m_array = ["4'10", "4'11", "5'", "5'1", "5'2''", "5'3''", "5'4''", "5'5''", "5'6''", "5'7''", "5'8''", "5'9''", "5'10''", "5'11''", "6'", "6'1''", "6'2''", "6'3''", "6'4''", "6'5''", "6'6''", "6'7''", "6'8''", "6'9''", "6'10''" ] %>
  <label for="height">Height</label>
  <select class="form-control" id="height" placeholder="yes" name="query_height">
    <% m_array.each do |height|%>
      <option <%= "selected" if height == current_user.user_datum.height%>>
        <%= height %>
      </option>
      <%end%>
    </select>



    <% m_array = ["Female", "Male", "Non-Binary", "Other", "Prefer not to say"] %>
  <label for="gender">Gender Identity</label>
  <select class="form-control" id="gender" placeholder="yes" name="query_gender">
    <% m_array.each do |gender|%>
      <option <%= "selected" if gender == current_user.user_datum.gender%>>
        <%= gender %>
      </option>
      <%end%>
    </select>


   <% m_array = ["yes", "Sometimes", "No", "Prefer not to say"] %>
  <label for="alcohol">Drinking</label>
  <select class="form-control" id="alcohol" placeholder="yes" name="query_drinking">
    <% m_array.each do |drink|%>
      <option <%= "selected" if drink == current_user.user_datum.drinking%>>
        <%= drink %>
      </option>
      <%end%>
    </select>


    <% m_array = ["yes", "Sometimes", "No", "Prefer not to say"] %>
  <label for="smoking">Smoking</label>
  <select class="form-control" id="smoking" placeholder="yes" name="query_smoking">
    <% m_array.each do |smoke|%>
      <option <%= "selected" if smoke == current_user.user_datum.smoking%>>
        <%= smoke %>
      </option>
      <%end%>
    </select>


  <button>
  Update Info
  </button>
</form>

<h1>                  </h1>

<h1>            -      </h1>
<h1>                 </h1>
<h1>              -    </h1>
<h1>           -       </h1>
<h1>           -       </h1>
<h1>           -       </h1>




</body>

</div>