

<div class="container">
<center>
 <br>
 <br>
<h1 >Your Profile, <%=current_user.user_datum.full_name%></h1>



 <br>
 <br>



<div class="card-deck">
  <div class="card">
    <img src="<%=current_user.own_photos.first.image_one%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photo 1</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
    <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">
              <input type="file" id="avatar" name="avatar" class="form-control">

    </form>
    </div>
  </div>
  <div class="card">
    <img src="<%=current_user.own_photos.first.image_three%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photo 2</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
    <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">
              <input type="file" id="avatar" name="avatar" class="form-control">
    </form>
    </div>
  </div>
  <div class="card">
    <img src="<%=current_user.own_photos.first.image_three%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photo 3</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
    <form action="/create_user" method="post" class="form-horizontal" enctype="multipart/form-data">
              <input type="file" id="avatar" name="avatar" class="form-control">

    </form>
    </div>
  </div>
</div>



 <br>
 <br>

<form action="/updateprofile" method: "get">
  <div class="form-group">
    <label for="name"> Name </label>
    <input type="text" class="form-control" id="name" value="<%=current_user.user_datum.full_name%>" name="query_name">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <select class="form-control" id="age" placeholder="yes" name="query_age">
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
     
    </select>
  </div>
  <div class="form-group">
    <label for="home">Hometown</label>
    <input type="text" class="form-control" id="home" value="<%=current_user.user_datum.hometown%>" name="query_home">
  </div>
  <div class="form-group">
    <label for="job">Job Title</label>
    <input type="text" class="form-control" id="job" value="<%=current_user.user_datum.job_title%>" name="query_job">
  </div>
  <div class="form-group">
    <label for="school">Current School</label>
    <input type="text" class="form-control" id="school" value="<%=current_user.user_datum.school%>" name="query_school">
  </div>
  <div class="form-group">
    <label for="undergrad">Undergrad School</label>
    <input type="text" class="form-control" id="undergrad" value="<%=current_user.user_datum.undergrad_school%>" name="query_undergrad">
  </div>


  <% m_array = ["Liberal", "Moderate", "Conservative", "Other", "Prefer not to say"] %>
  <label for="political">Political Affiliation</label>
  <select class="form-control" id="political" placeholder="yes" name="query_politics">
    <% m_array.each do |political|%>
      <option <%= "selected" if political == current_user.user_datum.political_affiliation%>>
        <%= political %>
      </option>
      <%end%>
    </select>

  <div class="form-group">
    <label for="religion">Religion</label>
    <select class="form-control" id="religion" placeholder="yes" name="query_religion">
      <option>Catholic</option>
      <option>Christian</option>
      <option>Buddhist</option>
      <option>Jewish</option>
      <option>Muslim</option>
      <option>Hindu</option>
      <option>Athiest</option>
      <option>Spiritual</option>
      <option>Agnostic</option>
      <option>Other</option>
      <option>Prefer not to say</option>
    </select>
  </div>
  <div class="form-group">
    <label for="height">Height</label>
    <select class="form-control" id="height" name="query_height">
      <option>4'10''</option>
      <option>4'11''</option>
      <option>5'</option>
      <option>5'1''</option>
      <option>5'2''</option>
      <option>5'3''</option>
      <option>5'4''</option>
      <option>5'5''</option>
      <option>5'6''</option>
      <option>5'7''</option>
      <option>5'8''</option>
      <option>5'9''</option>
      <option>5'10''</option>
      <option>5'11''</option>
      <option>6'</option>
      <option>6'1''</option>
      <option>6'2''</option>
      <option>6'3''</option>
      <option>6'4''</option>
      <option>6'5''</option>
      <option>6'6''</option>
      <option>6'7''</option>
    </select>
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" name="query_gender">
      <option>Female</option>
      <option>Male</option>
      <option>Non-binary</option>
      <option>Other</option>
      <option>Prefer not to say</option>
    </select>
  </div>
  <div class="form-group">
    <label for="alcohol">Drinking</label>
    <select class="form-control" id="alcohol" name="query_drinking">
      <option>Yes</option>
      <option>No</option>
      <option>Sometimes</option>
      <option>Prefer not to say</option>
    </select>
  </div>
  <div class="form-group">
    <label for="smoking">Smoking:</label>
    <select class="form-control" id="smoking" name="query_smoking">
      <option>Yes</option>
      <option>Sometimes</option>
      <option>No</option>
    </select>
  </div>
  <div class="form-group">
    <label for="preferences">Interested In:</label>
    <select class="form-control" id="preferences" name="query_preferences">
      <option>Women</option>
      <option>Men</option>
      <option>Women and Men</option>
      <option>Other</option>
      <option>Prefer not to say</option>
    </select>
  </div>
  <button>
  Update Info
  </button>
</form>

<h1>                  </h1>

<h1>            -      </h1>
<h1>                 </h1>
<h1>              -    </h1>
<h1>           -       </h1>
<h1>           -       </h1>
<h1>           -       </h1>




</body>

</div>