<div class="container">

<center>
 <br>
 <br>
<h1 >Your Profile, <%=current_user.user_datum.full_name%></h1>

 <br>
 <br>

</center
<div></div>

<div class="card-deck">
  <div class="card">
    <img src="https://pixnio.com/free-images/2021/02/17/2021-02-17-10-36-18-1800x1200.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Update Photo 1:</h5>
      <p class="card-text"> Upload link</p>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img src="<%=current_user.own_photos.first.image_one%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Update Photo 2:</h5>
      <p class="card-text">Upload link</p>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img src="https://pixnio.com/free-images/2020/12/23/2020-12-23-13-05-18-1500x1000.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Update Photo 3: </h5>
      <p class="card-text">Upload link</p>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>



 <br>
 <br>

<form action="/" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" value="<%=current_user.email%>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1"> Name </label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=current_user.user_datum.full_name%>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Hometown</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=current_user.user_datum.hometown%>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Job Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=current_user.user_datum.job_title%>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Current School</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=current_user.user_datum.school%>">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Undergrad School</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=current_user.user_datum.undergrad_school%>">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Political Affiliation</label>
    <select class="form-control" id="exampleFormControlSelect1" placeholder="yes">
      <option>Liberal</option>
      <option>Moderate</option>
      <option>Conservative</option>
      <option>Other</option>
      <option>Prefer not to say</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Height</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>4'10''</option>
      <option>4'11''</option>
      <option>5'</option>
      <option>5'1''</option>
      <option>5'2''</option>
      <option>5'3''</option>
      <option>5'4''</option>
      <option>5'5''</option>
      <option>5'6''</option>
      <option>5'7''</option>
      <option>5'8''</option>
      <option>5'9''</option>
      <option>5'10''</option>
      <option>5'11''</option>
      <option>6'</option>
      <option>6'1''</option>
      <option>6'2''</option>
      <option>6'3''</option>
      <option>6'4''</option>
      <option>6'5''</option>
      <option>6'6''</option>
      <option>6'7''</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Gender</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Female</option>
      <option>Male</option>
      <option>Non-binary</option>
      <option>Other</option>
      <option>Prefer not to say</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Drinking</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Yes</option>
      <option>No</option>
      <option>Sometimes</option>
      <option>Prefer not to say</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Interested In:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Women</option>
      <option>Men</option>
      <option>Women and Men</option>
      <option>Other</option>
      <option>Prefer not to say</option>
    </select>
  </div>
  <button>
  Update Info
  </button>
</form>

<h1>                  </h1>

<h1>            -      </h1>
<h1>                 </h1>
<h1>              -    </h1>
<h1>           -       </h1>
<h1>           -       </h1>
<h1>           -       </h1>




</body>

</div>